@font-face {
    font-family: 'Gothic';
    src: url('../../public/fonts/Cattedrale[RUSbypenka220]-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../../public/fonts/productsans.ttf') format('truetype');
    font-weight: 400;
}
