:root {
    --bgColor: #000;
}

body {
    background-color: var(--bgColor);
}

.back {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    text-decoration: none;
}

.back span {
    color: wheat;
}

.arrowBack {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
}

.rightHand {
    width: 30px;
    height: 30px;
}
